<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My App{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
</head>
<body>
    <header>
        <nav class="navbar">
            <a href="{{ url_for('dashboard.dashboard') }}" class="nav-link">Dashboard</a>
            <a href="{{ url_for('auth.logout') }}" class="nav-link logout-btn">
                <img src="{{ url_for('static', filename='image.png') }}" alt="Logout Icon" class="logout-icon">
                Logout
            </a>
        </nav>
    </header>
    
    <main class="main-content">
        {% block content %}{% endblock %}
    </main>
    {% block scripts %}{% endblock %}
</body>
</html>
