<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Login</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
</head>
<body>
  
  <!-- Video Background -->
  <video autoplay loop muted playsinline id="bg-video">
    <source src="{{ url_for('static', filename='background.mp4') }}" type="video/mp4" />
    Your browser does not support the video tag.
  </video>

  <div class="login container">
    <h1 class="login-tittle">Login</h1>

    <!-- Display flash messages -->
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <ul>
          {% for category, message in messages %}
            <li class="alert alert-{{ category }}">{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}

    <form action="{{ url_for('auth.login') }}" method="post">
      <label for="email">Email:</label>
      <input type="text" id="email" name="email" required />

      <label for="password">Password:</label>
      <input type="password" id="password" name="password" required />

      <label>
        <input type="checkbox" name="remember"> Remember Me
      </label>

      <button type="submit">
        Login
        <img src="{{ url_for('static', filename='logout.png') }}" alt="Login Icon" class="btn-icon" />
      </button>
      
    </form>

    <p>Don't have an account? <a href="{{ url_for('auth.register') }}">Register here</a>.</p>
  </div>

</body>
</html>
